@using ShopApp.Entity

<div class="card mb-3">
    <img class="card-img-top" src="~/img/@Model.ImageUrl" alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <small class="text-muted">
            <i class="fas fa-dollar-sign"></i>@Model.Price

        </small>
    </div>
    <div class="card-footer text-center">
        <a asp-controller="Shop" asp-action="Details" asp-route-url="@Model.Url" class="btn btn-primary btn-sm">İncələ</a>
        <a asp-controller="Shop" asp-action="add to cart" asp-route-id="@Model.ProductId" class="btn btn-primary btn-sm">Karta Elave Et</a>
    </div>
</div>
