@model ShopApp.WebUI.Models.Product

<div class="card">
    <img class="card-img-top" src="https://www.att.com/idpassets/global/devices/phones/apple/apple-iphone-13-pro/Carousel/Sierrablue/6180D-1.png" alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <a href="" class="btn btn-primary">İncələ</a>
    </div>
</div>